{% extends 'base.html.twig' %}

{% block title %}Reset your password
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div class="container d-flex justify-content-center align-items-center login-container">
		<div>
			<h1>Reset your password</h1>

			{{ form_start(requestForm) }}
			<div class="col-md-12">
				{{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
				{{ form_widget(requestForm.email, {'attr': {'class': 'form-control'}}) }}
				<div class="text-danger">
					{{ form_errors(requestForm.email) }}
				</div>
			</div>

			<div>
				<small>
					Enter your email address, and we will send you a
									                    link to reset your password.
				</small>
			</div>

			<button class="btn btn-primary">Send password reset email</button>
			{{ form_end(requestForm) }}
		</div>
	</div>
{% endblock %}
