{% extends 'base.html.twig' %}

{% block title %}Employee List{% endblock %}

{% block body %}
<h1>Employee List</h1>

<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-md-8">
            <div class="d-flex gap-2">
                <div class="col-md-4">
                    <input class="form-control" type="number" id="salaryFilter" min="0" placeholder="Search Salary"/>
                </div>
                <div class="col-md-1">
                    <select class="form-control text-center" id="salaryOperator">
                        <option value="=">{{"="}}</option>
                        <option value="<">{{"<"}}</option>
                        <option value=">">{{">"}}</option>
                        <option value="<=">{{"<="}}</option>
                        <option value=">=">{{">="}}</option>
                    </select>
                </div>
                <div>
                    <button class="btn btn-info" id="filterButton">Apply</button>
                    <button class="btn btn-danger" id="clearFilterButton">Clear</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-end">
            <a class="btn btn-success" href="{{ path('app_employee_new') }}">Create new</a>
        </div>
    </div>
</div>

<table id="employeeTable" class="table p-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Profile Image</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Hobby</th>
            <th>Gender</th>
            <th>About Me</th>
            <th>Salary</th>
            <th>Roles</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function() {
        let table = $('#employeeTable').DataTable({
            ajax: {
                url: "{{ path('app_employee_data') }}",
                data: function(d) {
                    d.salary = $('#salaryFilter').val();
                    d.operator = $('#salaryOperator').val();
                }
            },
			searching: false,
			serverSide: true,
			processing: true,
            order:[[0, 'desc']],
            columns: [
                { data: 0 },
                { data: 1 },
                { data: 2 },
                { data: 3 },
                { data: 4 },
                { data: 5 },
                { data: 6 },
                { data: 7 },
                { data: 8 },
                { data: 9 },
                { data: 10 },
                { data: 11 }
            ]
        });

        $('#filterButton').on('click', function() {
            table.ajax.reload();
        });
        $('#clearFilterButton').on('click', function() {
            $('#salaryFilter').val('');
            $('#salaryOperator').val('=');
            table.ajax.reload();
        });
    });
</script>
{% endblock %}
